<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>后台登录</title>
<link href="style/style.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>

<body>
    <div class="box-login">
	<form action="login.php" method="post" id="loginform" accept-charset="utf-8"><input type="hidden" name="action" value="check" />
		<h1> 后台登录 </h1>
		<ul>
			<li><input type="text" id="account" name="account" value="" maxlength="127" class="textbox" placeholder="账号" /></li>
			<li><input type="password" id="password" name="password" maxlength="50" class="textbox" placeholder="密码" /></li>
			<li><input id="login" class="button" type="submit" value="登 录"></li>
		</ul>
	</form>
</div>

<script type="text/javascript">

</script>
</body>
</html>
